#add_new_client_inner,
#edit_client_inner {
  position: fixed;
  top: 54.5%;
  height: 90.5%;
  left: 81%;
  width: 28%;
  transform: translate(-50%, -50%);
  /* transform: translateX(-50%); */
  transition: transform 1s ease;
  padding: 20px;
  background-color: #ffffffe5;
}
.add_user_input {
  width: 250px;
}
.selected-group-client {
  height: 50px;
  padding-top: 12px;
}
.client_display > td:hover {
  background-color: grey;
}
#view_client_inner {
  position: fixed;
  top: 54.5%;
  height: 50%;
  left: 55%;
  width: 40%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffffe5;
}
.project_info_button {
  border-radius: 50%;
  padding: 6px 10px;
  margin: 6px 0px;
}
