#add_new_task_inner,
#edit_task_inner {
  position: fixed;
  top: 54.5%;
  height: 90.5%;
  left: 81%;
  width: 28%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #ffffffe5;
}
.resource-txt {
  justify-content: space-between;
  padding-inline: 20px;
}
